<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.cloud.android.speech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Speech"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="chatbot" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity android:name=".MainActivity"></activity>

        <service android:name=".SpeechService" />

        <activity
            android:name="viettel.cyberspace.assitant.activity.ChatViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="viettel.cyberspace.assitant.activity.ChatBotActivity"
            android:theme="@style/MyTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="viettel.cyberspace.assitant.Webview.WebviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- ./Firebase Notifications -->
        <activity android:name=".SettingActivity"></activity>
    </application>

</manifest>